{% extends 'ex.html' %}
<!-- main.html  -->

{% block content %}

{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Notea</title>
    <style>
        * a{
            text-decoration: none;
        }
    </style>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VV8EGC0Q8V"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-VV8EGC0Q8V');
    </script>
</head>

<section class="services" id="services">
    <div class="content">
        <div class="title"><span>All Notes</span></div>
        <div class="boxes">
            {% for d in data %}
            <div class="box">
                <a href="{% url 'note' d.id %}">
                <div class="topic">{{ d.host }}</div>
                <div class="topic">{{ d.name }}</div>
                <div class="topic">{{ d.description }}</div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}