{% extends 'exl.html' %}

{% block content %}
{% load static %}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="{% static 'styles/owl.carousel.min.css' %}">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">

  <!-- Style -->
  <link rel="stylesheet" href="{% static 'styles/style2.css' %}">

  <title>Join us</title>
</head>

<body>


  <div class="d-lg-flex half">
    <div class="bg order-1 order-md-1 img" style="background-image: url({% static 'images/bg_4.png' %});"></div>

    <div class="contents order-2 order-md-2">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7">
            <h3>Join to <strong>Notea</strong></h3>
            <p class="mb-4">An online community for students from all across the country, providing a platform for
              learning, sharing experiences and leveraging their knowledge.</p>
          
            <form action="" method="POST">
              {% csrf_token %}
              {{ form.as_p }}



              <input type="submit" value="Join Us" class="btn btn-block btn-primary">

            </form>
            <br>

          </div>

        </div>
      </div>
    </div>



  </div>



  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
{% endblock %}